{% extends '_base.html' %}
{% load static %}

{% block content %}
  <div class="container h-90 background-highlight-1">
    <div class="row h-25 background-highlight-2">
      <div class="col-sm h-100">
        <div class="d-flex justify-content-center">

          <form class="mt-5">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="search" aria-label="Username" aria-describedby="basic-addon1">
              <div class="input-group-append">
                <button class="btn btn-primary" type="button" name="button">search</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

    <div class="row h-75 background-highlight-3">
      <div class="col-sm h-100">
        <div class="h-15">
          <p class="display-4">my playlists</p>
        </div>
        <div class="h-85 overflow-auto">
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
          <h1>hello</h1>
        </div>
      </div>

      <div class="col-sm h-100">
        <div class="h-10">
          <h3 class="m-0"></h3>
        </div>
        <div class="h-90 overflow-auto">
        </div>
      </div>

      <div class="col-sm h-100">
        <div class="h-10">
          <h3 class="m-0"></h3>
        </div>
        <div class="h-90 overflow-auto">
        </div>
      </div>
    </div>

  </div>
  {% endblock content %}
